.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-alinment {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
h1 {
  color: blue;
}
h3 {
  color: green;
}
